

body {
    margin: 50px;
    background-color: lightpink;
}

.petImage{
    width:45%;
    border: 1px solid lightgray;
}

#catbtn {
    background-color:lightblue;
    color: white;
    margin-right: 20px;
}

#dogbtn {
    background-color:lightgreen;
    color: white;
    margin-right: 20px;
}

#dinobtn {
    background-color:lightblue;
    color: white;
    margin-right: 20px;
}

#cat {
    background-color:lightblue;
    color: white;
    margin-right: 20px;
    width: 100%;
    height: 16%;
    font-size: 2em;
}

#dog { 
    background-color: lightsalmon;
    color: white;
    margin-right: 20px;
    width: 100%;
    height: 16%;
    font-size: 2em;

}
#dino {
    background-color: lightsalmon;
    color: white;
    margin-right: 20px;
    width: 100%;
    height: 16%;
    font-size: 2em;

}

.hidden{
    display:none;
}

.panel {
    /* border: solid 1px lightgray; */
    text-align: center;
    height: 300px;
    margin: 15px;
}

